<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- dev  -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <!-- prod -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>viewer</title>
</head>
<body>
<div id='app'>
    <div class="btnNavBar">
        <button class="navBtn" @click='prevFile'>prev</button>
        <button class="navBtn" @click='nextFile'>next</button>
    </div>
    <img class="display" :src="imgURL" alt="">
</div>

<script>
const fileList = [{% for res in resource_list %}'{{res}}',{% endfor %}]
var app = new Vue({
  el: '#app',
  delimiters: ['[[',']]'],
  data: {
    indx: 0,
    imgURL: fileList[0],
  },
  methods: {
      nextFile: function () {
          this.indx = this.indx + 1
          if (this.indx == fileList.length) {
              this.indx = 0
          }
          this.imgURL = fileList[this.indx]
      },
      prevFile: function () {
          this.indx = this.indx - 1
          if (this.indx < 0) {
              this.indx = fileList.length - 1
          }
          this.imgURL = fileList[this.indx]
      }
  }

})
</script>
<style>
html {
    width: 100%;
    max-width: 700px;
    margin: auto;
}
.display {
    width: 95%;
    margin:auto;
}
</style>
</body>
</html>