<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>holi</title>
</head>
<body>
    <div id="app">
        <div class="searchbar">
            <input type="text" name="" id="">
            <button>search</button>
        </div>
        <div class="searchresults">
            <div class="resultcard">
                <a href="">title</a>
                <span>description</span>
            </div>
        </div>
    </div>
</body>
<style>
.searchbar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.searchresults {
    width: 100%;
    padding: 20px;
}
</style>
</html>